body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #84ae92, #b9d4aa);
  margin: 0;
  padding: 40px;
}

.utama {
  max-width: 750px;
  margin: auto;
  background: #fff;
  padding: 35px;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

h2 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 30px;
  color: #437057;
  text-align: center;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}

label {
  width: 80px;
  font-weight: 600;
  color: #437057;
}

input {
  flex: 1;
  padding: 10px 12px;
  border: 1px solid #a5b68d;
  border-radius: 8px;
  font-size: 14px;
  transition: all 0.3s ease;
}

input:focus {
  border-color: #437057;
  outline: none;
}

#tambahBtn {
  display: inline-block;
  background: linear-gradient(to right, #67ae6e, #90c67c);
  color: white;
  border: none;
  padding: 10px 18px;
  margin: 12px 6px 0 0;
  cursor: pointer;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  transition: all 0.3s ease;
}

#tambahBtn:hover {
  background: linear-gradient(to right, #537d5d, #84ae92);
  transform: translateY(-2px);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border-radius: 8px;
  overflow: hidden;
}

th,
td {
  border: 1px solid #e0e0e0;
  padding: 12px;
  text-align: left;
  font-size: 15px;
}

th {
  background-color: #bbd8a3;
  color: #2e5442;
  font-weight: 600;
}

tr:hover {
  background-color: #eeefe0;
}

.edit-btn {
  background-color: #33a1e0;
  color: white;
  border: none;
  padding: 6px 12px;
  margin-right: 10px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 13px;
  transition: all 0.3s ease;
}

.edit-btn:hover {
  background-color: #1d6b99;
  transform: translateY(-2px);
}

.delete-btn {
  background-color: #e63946;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 13px;
  transition: all 0.3s ease;
}

.delete-btn:hover {
  background-color: #a4161a;
  transform: translateY(-2px);
}
